.header {
	position: relative;
	padding-top: 100px;

	&__menu {
		width: 100%;
	}

	&__list {
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}

	&__link {
		margin: 0 15px;
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		@include hover {
			color: $color-black;
		}

		@include active {
			color: $color-black;
		}
	}

	&__burger {
		z-index: 100;
		display: none;
		flex-direction: column;
		margin: (-6.5px / 2) 0;
		margin-left: auto;
		width: 26px;
		color: $color-black;

		span {
			display: block;
			margin: 2.8px 0;
			width: 26px;
			height: 2.25px;
			background-color: currentColor;
			transition: $duration-normal;
		}

		@include active {
			span {
				&:first-child {
					transform: translate(0, 8px) rotate(-45deg);
				}

				&:last-child {
					transform: translate(0, -6px) rotate(45deg);
				}
			}
		}

		@include mobile {
			display: block;
		}
	}
}
