.line {
	position: relative;
	z-index: -1;
	display: flex;
	height: 200px;

	picture {
		width: 100%;
	}

	&__one {
		align-items: center;

		@include mobile {
			picture {
				margin-top: -30px;
			}
		}
	}

	&__two {
		align-items: flex-start;

		@include mobile {
			picture {
				margin-top: -10px;
			}
		}
	}

	&__pc {
		display: block;

		@include mobile {
			display: none;
		}
	}

	&__mobile {
		display: none;

		@include mobile {
			display: block;
		}
	}

	@include mobile {
		margin: 0 -10px;
		height: 40px;
	}
}
