.loader {
	$block-name: &; // #{$block-name}__class

	content: "";
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3000;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: $color-white;
	opacity: 1;

	&__img {
		position: absolute;
		left: -592px;
		bottom: -592px;
		width: 591px;
		height: 591px;
		transition: all $easing-in $duration-normal;

		@include mobile {
			width: 90vw;
			height: 90vw;
		}
	}
}
