.home {
	&__avatar {
		display: block;
		margin: -21px 0 40px;
		max-width: 150px;
		opacity: 0;
		transition: $duration-normal;

		&[data-loaded="true"] {
			opacity: 1;
		}
	}

	&__info {
		display: flex;

		&-item {
			display: flex;
			flex-direction: column;
			width: calc(100% / 2);
		}

		&-box {
			display: flex;
			flex-direction: column;
			align-self: center;
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 30px;
		font-weight: 700;
		font-size: 36px;
	}

	&__text {
		margin-bottom: 10px;
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		color: $color-dark;
	}

	&__socials {
		display: flex;
		margin-top: 5px;

		&-item {
			margin-right: 20px;

			svg {
				width: 25px;
				height: 25px;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
