<!-- eslint-disable -->
-
	const data = {
		header: {
			links: {
				logo: 'https://ninelines.agency/',
			},
			menu: [
				{
					url: '#resume',
					name: 'Резюме'
				},
				{
					url: '#about',
					name: 'О себе'
				},
				{
					url: '#skills',
					name: 'Навыки'
				}
			]
		},

		about: {
			title: 'Денис,<br> HTML-верстальщик / Middle Front-end разработчик',
			description: 'Как разработчик, я высоко ценю способность воплотить видение дизайнера в жизнь, что считаю очень полезным для бизнеса. Я получаю огромное удовлетворение, наблюдая за работой от идеи до дизайна, особенно когда она появляется в руках пользователя. Я считаю, что ориентированные на пользователя решения являются наиболее ценными цифровыми ресурсами будущего.',
		},

		share: {
			mail: 'glazunovden@yandex.ru',
			phone: '+7 (915) 560-52-14',
			city: 'г. Белгород',
			list: [
				{
					social: 'fb',
					link: 'https://www.facebook.com/den.glazunov'
				},
				{
					social: 'vk',
					link: 'https://vk.com/bk0831'
				},
				{
					social: 'tg',
					link: 'https://t.me/hiiragi0831'
				}
			],
		},

		experience: [
			{
				date: 'Апрель 2020',
				title: 'Фриланс, HTML-верстальщик, Front-end разработчик',
				education: ['orange', 'yellow', 'pink'],
				city: 'Россия, Белгород',
				description: 'Работа с клиентами на обслуживании, поиск новых заказчиков. Настройка РК Яндекс директ, GoogleAds. Верстка и дальнейшая посадка сайтов на ModX. Верстка макетов для веб студии Облако.',
			},
			{
				date: 'Февраль 2020 - Апрель 2020',
				logo: 'bp-oblako',
				title: 'Разработчик Bitrix, HTML-верстальщик, Front-end разработчик',
				education: ['green', 'orange'],
				city: '<b>Веб студия Облако</b> Россия, Белгород',
				description: 'Верстка сайтов по макетам в фигме. Посадка готовой верстки на 1С-Битрикс. Исправления ошибок на сайтах. Доработка сайтов 1С-Битрикс, Wordpress. ',
				links: [
					{
						href: 'https://bp-oblako.ru/',
						title: 'Сайт студии'
					}
				]
			},
			{
				date: 'Февраль 2017 - Январь 2020',
				title: 'Фриланс, HTML-верстальщик, Front-end разработчик',
				education: ['yellow', 'purple'],
				city: 'Россия, Белгород',
				description: 'Работа фрилансером, самостоятельный поиск заказчиков по городу и интернет сервисам. Настройка РК Яндекс директ, GoogleAds. Верстка и дальнейшая посадка сайтов на ModX (80%), Wordpress (20%) системы.',
			}
		],

		education: [
			{
				colors: [
					{
						color: 'pink',
						select: 0
					},
					{
						color: 'blue',
						select: 1
					},
					{
						color: 'yellow',
						select: 0
					}
				],
				title: 'JavaScript. Архитектура клиентских приложений',
				university: 'HTML Academy, 2022',
			},
			{
				colors: [
					{
						color: 'yellow',
						select: 1
					},
				],
				title: 'JavaScript. Профессиональная разработка веб-интерфейсов',
				university: 'HTML Academy, 2021',
			},
			{
				colors: [
					{
						color: 'pink',
						select: 1
					},
				],
				title: 'Информационные технологии, Информационные системы и технологии',
				university: 'Белгородский государственный университет, Белгород, 2018',
			},
			{
				colors: [
					{
						color: 'green',
						select: 1
					},
				],
				title: 'Стандартизация и метрология, Управление качеством',
				university: 'Белгородский государственный технологический университет им. В.Г. Шухова, Белгород, 2015',
			}
		],

		skill: [
			{
				title: 'Adobe Creative Suite',
				description: 'Photoshop, Illustrator, InDesign, XD, After Effects'
			},
			{
				title: 'Prototyping',
				description: 'Sketch, Figma, InVision, Marvel, Principle, Balsamiq'
			},
			{
				title: 'Additional',
				description: 'HTML, CSS, Google Analytics, Keynote, Miro'
			},
			{
				title: 'Languages',
				description: 'Conversational English and Native Russian'
			}
		],

		// home: {
		// 	title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
		// 	read: 'Читать',
		// },

		modal: {
			close: 'Закрыть',
		},
	};

//script.
//	window.data = {
//		home: !{JSON.stringify(data.home)},
//	};
<!-- eslint-enable -->
