main.home
	//.loader
		//img(src=`${baseDir}images/load.png`).loader__img

	.container
		+lazyPicture({ src: `${baseDir}images/avatar.png`, alt: 'Аватар' }).home__avatar#hello

		.home__info
			.home__info-item
				h1.home__title
					!= data.about.title
				p.home__text
					!= data.about.description

			.home__info-item
				.home__info-box
					a.home__text(href="mailto:" + data.share.mail)
						!= data.share.mail
					a.home__text(href="tel:" + data.share.phone)
						!= data.share.phone
					p.home__text
						!= data.share.city
					.home__socials
						each object, key in data.share.list
							a.home__socials-item(href=object.link)
								+svg(object.social)
