extends pug/base
prepend vars
	- var title = 'Денис, HTML-верстальщик / Middle Front-end разработчик'
	- var description = 'Работаю верстальщиком с 2017 года. Натягиваю версту на CMS, в основном на MODX и Wordpress. При верстке использую: бэм, pug, scss, postcss, js, webpack, git. Двигаюсь по направлению vuejs, reactjs. На данный момент времени прохожу обучение vuejs.'
	- var image = './image/share.png'

append vars
	//-

block content
	include pug/data

	.site(data-scroll-container)
		include pug/components/header

		include pug/pages/home

		include pug/components/footer

	//include pug/components/analytics
