// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$color-black: #000;
$color-white: #fff;
$color-gray: #eee;
$color-light-gray: #fafafa;
$color-dark-gray: #828282;
$color-dark: #282a33;
$color-blue-dark: #2f80ed;
$color-purple: #938df8;
$color-purple-light: #aea9fe;
$color-purple-light-alt: #ccc9fd;
$color-yellow: #ffcf41;
$color-yellow-light: #ffe975;
$color-yellow-light-alt: #fff3b5;
$color-blue: #4ebff3;
$color-blue-light: #77c9fb;
$color-blue-light-alt: #c0f0ff;
$color-pink: #ef5389;
$color-pink-light: #fe73a5;
$color-pink-light-alt: #ff99be;
$color-orange: #ffa35c;
$color-orange-light: #ffbb87;
$color-orange-light-alt: #ffd5b4;
$color-green: #3fc59d;
$color-green-light: #64ddba;
$color-green-light-alt: #7cf5d2;

// FONTS
// stylelint-disable-next-line
$font-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-family-sf-pro-display: "San Francisco Pro Display", sans-serif;

// EASING TRANSITIONS
$duration-normal: 0.4s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;

// Settings
$mobile: 320;
$desktop-vh: 750;
$tablet: 768;
$desktop: 1025;
$laptop: 1440;
$desktop-xl: 1800;
